.combo-card {
	padding: 10px;
	&__body {
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		& .save-money {
			color:  #5e35b1;
			font-weight: 700;
		}
		& .content {
			padding: 5px;
			overflow: hidden;
		}
	}
	&__footer {
        margin-bottom: 2px;
		& .link {
			background: #5e35b1;
			color: white;
			text-align: center;
			padding: 4px 10px;
			border-radius: 2px;
		}
	}
}
