.combo-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: white;
	height: 80px;
	.combo-panel ::after {
		content: "";

	}
	&__header {
		position: relative;
		height: 50%;
		& .title {
			width: 100%;
			height: 100%;
			font-weight: 700;
		}
		& .close {
			position: absolute;
			top: 10px;
			font-size: 20px;
			right: 10px;
		}
	}
	&__footer {
		height: 50%;

		display: grid;
		grid-template-columns: 1fr 1fr;
		& .toggle {
			color: #616161;
			border-bottom: 2px solid #616161;
			&--active {
				color: #5e35b1;
				font-weight: 600;
				border-bottom: 2px solid #5e35b1;
			}
		}
	}
}
