.mycombo-card {
	margin: 10px 8px;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 0px 10px -3px #bdbdbd;
	border-radius: 3px;
	&__header {
		font-size: 1.3em;
		font-weight: bold;
		word-break: break-word;
		padding: 5px 10px;
		border-bottom: 2px solid #bdbdbd57;
		color: #424242;
	}

	&__body {
		border-bottom: 2px solid #bdbdbd57;
		& .voucher-list {
			flex-direction: column;
			align-items: start;
			padding: 0 25px;
			margin: 10px 0;
			& li {
				color: #5e35b1;
				font-size: 1.2em;
				& .content {
					color: #424242;
					word-break: break-word;
				}
			}
		}
	}
	&__footer {
		color: #424242;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;
		font-size: 1em;
		font-weight: bold;
		& >* {
			margin: 5px 0;
		}
		& .renew-panel {
			&__button {
				background: #5e35b1;
				color: white;
				& .selected-icon {
					margin: 0;
					font-size: 10px;
				}
				& span {
					margin-left: 5px;
				}
			}
		}
	}
}
