.login-form {
    font-size: 0.8em;
    & .login-form-button {
        width: 100%;
        font-size: 1.15em;
        height: 40px;
        background: #5e35b1;
    }
    & .login-form-text {
        font-size: 1.15em;
    }
}